<!-- *ngIf="!mobileMode" -->
<nav class="navbar navbar-expand-md fixed-top" style="background-color: #192130">
    <a class="navbar-brand text-light" style="margin-left: 1rem" href="#"
       [class.serverOnline]="serverOnline"
       [class.serverOffline]="!serverOnline">AetherOne<strong>Py</strong> {{version}}</a>

       <a *ngIf="version && remoteVersion && !version.trim().includes(remoteVersion.trim())" class="btn btn-sm btn-success" href="#VERSION">NEW VERSION AVAILABLE!</a>
       - <b style="margin-right: 1rem">{{case?.name}}</b> <span class="serverOfflineInfo" *ngIf="!serverOnline">is offline</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="serverOnline">
        <li class="nav-item" style="background-color: darkred; margin-left:0.1rem;margin-bottom:0.1rem">
          <a class="nav-link active navigationButton position-relative" aria-current="page" href="#HOTBITS" style="color:white!important;" (click)="navigate('HOTBITS')">HOTBITS ({{hotbitsCount}}) <span *ngIf="webCamRunning"><i class="bi bi-webcam"></i></span>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" title="CPUs">
              {{cpuCount}}
              <span class="visually-hidden">CPUs</span>
            </span>
          </a>
        </li>
        <li class="nav-item" *ngFor="let link of links" style="background-color: {{link.backgroundColor}}; margin-left:0.1rem;margin-bottom:0.1rem">
          <a class="nav-link active navigationButton" aria-current="page" href="#{{link.name}}" style="color:{{link.color}}!important;" (click)="navigate(link.name)"
             [class.activeLink]="link.active" [class.inactiveLink]="!link.active">{{link.name}}</a>
        </li>
        <li class="nav-item" style="background-color: #008b0c; margin-left:0.1rem;margin-bottom:0.1rem">
          <button *ngIf="broadcastingData" class="nav-link active navigationButton position-relative" aria-current="page" data-bs-toggle="modal" data-bs-target="#sessionBroadcasting" style="color:white!important;">BROADCASTING
            <span *ngIf="broadcastingData.length > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" title="CPUs">
              {{broadcastingData.length}}
              <span class="visually-hidden">QUEUE</span>
            </span>
          </button>
        </li>
      </ul>

      <form class="d-flex" role="search" *ngIf="serverOnline" style="margin-left: 1rem;margin-right: 1rem">
        <input #weaverText [formControl]="searchText" (ngModelChange)="search()" type="text" class="form-control me-2" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <button *ngIf="serverOnline" class="btn btn-danger" style="margin-left: 1rem; padding: 0.1rem" title="Shut down the server" (click)="shutDown()">OFF</button>

      <!--<button class="btn btn-sm" [class.btn-dark]="theme == 'light'" [class.btn-light]="theme == 'dark'" style="margin-left: 3rem; padding: 0.1rem" (click)="switchTheme()">{{theme}} Mode</button>-->
    </div>
</nav>
<div class="container-fluid" *ngIf="serverOnline">
  <router-outlet></router-outlet>
</div>
<div class="container-fluid" *ngIf="!serverOnline">
  <h1 class="serverOffline" style="color:red">OFFLINE</h1>
  <p>This means the AetherOne application is not started. Just restart if you wish to use the application.</p>
</div>

<!-- Modal BROADCASTING -->
<div class="modal fade " id="sessionBroadcasting" tabindex="-1" aria-labelledby="sessionBroadcastingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sessionBroadcastingLabel">Broadcasting</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div id="broadcastingGraphic" style="height: 300px; width: 100%;"></div>

        <table class="table table-sm table-hover">
          <thead class="table-light">
          <tr>
            <th>RATE</th>
            <th>ENERGY</th>
            <th>REPEAT</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let b of broadcastingData; let i = index">
            <td [class.broadcasting]="!b.broadcastData.leaving_with_general_vitality && b.broadcastData.repeat" [class.broadcasted]="b.broadcastData.leaving_with_general_vitality || b.broadcastData.repeat">{{b.broadcastData.signature}}</td>
            <td>{{b.broadcastData.leaving_with_general_vitality}}</td>
            <td>{{b.broadcastData.repeat}}</td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" style="margin-right: 1rem" (click)="stopAllBroadcasting()">Stop all</button> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
