<div style="text-align: left; width: 90%!important;" class="container-fluid py-5 badge text-primary">
  <h1 class="display-5 fw-bold">{{case.name}}</h1>
  <p>{{case.description }}</p>
  <h2>Sessions</h2>
  <button data-bs-toggle="modal" data-bs-target="#sessionModal" class="btn btn-sm btn-primary" (click)="resetSessionData()">NEW SESSION</button>
  <hr>
  <div class="text-primary-emphasis rounded position-relative" *ngIf="session">
    <span class="badge text-bg-primary">{{session.created | date: 'short'}}</span>
    <div class="form-floating">{{session.description}}</div>
    <div class="form-floating">{{session.intention}}</div>
    <div *ngIf="settings" style="margin: 0.8rem;padding: 0.8rem ">
      <h3>Analysis</h3>
      <h5 *ngIf="selectedCatalog">{{selectedCatalog.name}}</h5>
      <p>
        <button class="btn btn-sm btn-primary smallerButton" (click)="loadRateCatalogs()" data-bs-toggle="modal"
                data-bs-target="#catalogsModal">SELECT RATE CATALOG</button>
        <button *ngIf="selectedCatalog" (click)="analyze()" class="btn btn-sm btn-danger smallerButton">ANALYZE (Hotbits = {{countHotbits}})</button>
        <button *ngIf="selectedCatalog" class="btn btn-sm btn-danger smallerButton">GV</button>
        <span *ngIf="settings['analysisAlwaysCheckGV'] == 'true'" class="badge text-bg-warning" style="margin-left: 1rem">Automatic GV</span>
        <button *ngIf="analysis" class="btn btn-sm btn-primary">GENERAL VITALITY = {{analysis.target_gv}}</button>
      </p>
      <table class="table table-sm table-hover">
        <thead class="table-light">
        <tr>
          <th>POS</th>
          <th>EV</th>
          <th>RATE / SIGNATURE</th>
          <th>GV</th>
          <th>ACTIONS</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let rate of analysisResult; let i = index">
          <td>{{i+1}}</td>
          <td>{{rate.energetic_value}}</td>
          <td>{{rate.signature}}</td>
          <td class="{{getRateClass(analysis.target_gv, rate.gv)}}">{{rate.gv}}</td>
          <td>
            <button style="padding: 0.05rem; font-size: 0.6rem" class="btn btn-sm btn-success"
                    title="broadcast Arsenicum album">BROADCAST
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="form-floating">
        <textarea class="form-control" id="analysisNotes" [formControl]="analyzeNote"></textarea>
        <label for="analysisNotes">Notes {{analyzeNote.getRawValue().length}}</label>
      </div>
      <br/>
      <p>
        <button *ngIf="analyzeNote.getRawValue().length > 0" (click)="saveAnalysisNote()" class="btn btn-sm btn-primary smallerButton">SAVE NOTE</button>
        <button class="btn btn-sm btn-success smallerButton">BROADCAST MIX</button>
        <button class="btn btn-sm btn-success smallerButton">AUTO MODE ON</button>
      </p>
      <p>
        <button class="btn btn-sm btn-warning smallerButton">CLEAR</button>
        <button class="btn btn-sm btn-warning smallerButton">GROUNDING</button>
      </p>
      <hr>
      <h3 *ngIf="analysisList.length > 0">History of analysis</h3>
      <div class="shadow" style="margin-top: 1rem" *ngFor="let analysis of analysisList">
        <p>{{analysis.note}}</p>
        <table class="table table-sm table-hover">
          <thead class="table-light">
          <tr>
            <th>POS</th>
            <th>EV</th>
            <th>RATE / SIGNATURE</th>
            <th>GV</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let rate of analysis.rateObjects; let i = index">
            <td>{{i+1}}</td>
            <td>{{rate.energetic_value}}</td>
            <td>{{rate.signature}}</td>
            <td>{{rate.gv}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <div *ngFor="let session of sessions" class="text-primary-emphasis" id="sessionsCollapse">
    <span class="badge text-bg-primary">{{session.created | date: 'short'}}</span>
    <button (click)="showSessionDetails(session)" class="btn btn-success"
            style="--bs-btn-padding-y: .012rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .625rem; margin-left: 0.25rem">
      SHOW DETAILS
    </button>
    <button (click)="deleteSession(session.id)" class="btn btn-danger"
            style="--bs-btn-padding-y: .012rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .625rem; margin-left: 0.25rem">
      DELETE
    </button>
    <p>{{session.description}}</p>
    <p>{{session.intention}}</p>
    <hr>
  </div>

</div>

<!-- Modal CATALOG -->
<div class="modal fade " id="catalogsModal" tabindex="-1" aria-labelledby="caseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="caseModalLabel">Select a Rate Catalog</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <table class="table table-sm table-hover">
          <thead class="table-light">
          <tr>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>AUTHOR</th>
            <th>IMPORTDATE</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let catalog of catalogs">
            <td><button class="btn btn-sm btn-primary" (click)="selectedCatalog = catalog" data-bs-dismiss="modal">{{catalog.name}}</button></td>
            <td>{{catalog.description}}</td>
            <td>{{catalog.author}}</td>
            <td>{{catalog.importdate | date}}</td>
          </tr>
          </tbody>
        </table>

        <form (submit)="uploadFile($event)" enctype="multipart/form-data" class="input-group">
          <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
          <button type="submit" class="btn btn-success">Upload</button>
        </form>

        <div *ngIf="folderStructure">
          <h1>Import from Github</h1>
          Source: <a href="https://github.com/isuretpolos/radionics-rates" target="g">https://github.com/isuretpolos/radionics-rates</a>
          <table class="table table-sm table-hover">
            <thead class="table-light">
            <tr>
              <th>CATEGORY</th>
              <th>FILES</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let folder of objectKeys(folderStructure.folders)">
              <td>{{ folder }}</td>
              <td>
                <table *ngIf="folderStructure" class="table table-sm table-hover">
                  <thead class="table-light">
                  <tr>
                    <th>FILE</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let file of folderStructure.folders[folder]">
                    <td><button class="btn btn-sm btn-primary" (click)="importFile(file)">{{ file }}</button> </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="loadFilesToImport()">Import from Github</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal SESSION -->
<div class="modal fade " id="sessionModal" tabindex="-1" aria-labelledby="sessionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sessionModalLabel">New Session</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form-floating">
          <textarea class="form-control" id="sessionDescription" [formControl]="sessionDescription"></textarea>
          <label for="sessionDescription">Description</label>
        </div>
        <div class="form-floating">
          <input class="form-control" id="sessionIntention" [formControl]="sessionIntention">
          <label for="sessionIntention">Intention</label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="newSession()" data-bs-dismiss="modal">SAVE</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
