.collapseAssigned {
  background-color: #009dff;
}

.collapseContainer {
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin-bottom: 0.2rem;
}
.collapseHeader {
  color: white!important;
}

.hit1000 {
  background-color: #37ff37!important;
  color: black!important;
}

.hitOverTarget {
  background-color: #7af67a!important;
  color: black!important;
}


