<h1>Settings</h1>

<div class="card text-bg-danger p-3">
  <div class="card-body">
    <h5 class="card-title">Hotbits</h5>
    <p class="card-text">The <b><i>"fuel"</i></b> for the digital radionics analysis and broadcasting, the quantum interface between mind and matter.</p>

    <div class="form-check">
      <input [formControl]="hotbits_collectAutomatically" class="form-check-input" type="checkbox" id="hotbits_collectAutomatically">
      <label class="form-check-label" for="hotbits_collectAutomatically">
        Collect Hotbits automatically
      </label>
      <div class="form-text text-bg-danger p-3">It will try to hold the hotbits packages always above 1000. <strong>Be aware:</strong> This takes control eventually of your webcam.</div>
    </div>

    <div class="form-check">
      <input [formControl]="hotbits_mix_TRNG" class="form-check-input" type="checkbox" id="hotbits_mix_TRNG">
      <label class="form-check-label" for="hotbits_collectAutomatically">
        Mix TRNG sources
      </label>
      <div class="form-text text-bg-danger p-3">If more than one source for true randomness is available, it will mix the "hotbits" together, in order to get better quality.</div>
    </div>

    <div class="form-check">
      <input [formControl]="hotbits_use_Arduino" class="form-check-input" type="checkbox" id="hotbits_use_Arduino">
      <label class="form-check-label" for="hotbits_use_Arduino">
        Use Arduino as a TRNG source
      </label>
      <div class="form-text text-bg-danger p-3"><a href="#" style="color: white; font-weight: bolder">Learn</a> how to set up an Arduino microcontroller for this purpose.</div>
    </div>

    <div class="form-check">
      <input [formControl]="hotbits_use_ESP" class="form-check-input" type="checkbox" id="hotbits_use_ESP">
      <label class="form-check-label" for="hotbits_use_ESP">
        Use ESP32 as a TRNG source
      </label>
      <div class="form-text text-bg-danger p-3"><a href="#" style="color: white; font-weight: bolder">Learn</a> how to set up an ESP32 microcontroller for this purpose.</div>
    </div>

    <div class="form-check">
      <input [formControl]="hotbits_use_RPi" class="form-check-input" type="checkbox" id="hotbits_use_RPi">
      <label class="form-check-label" for="hotbits_use_RPi">
        Use Raspberry Pi's own TRNG
      </label>
      <div class="form-text text-bg-danger p-3">For the new Raspberry Pi OS it should work out of the box.</div>
    </div>

    <div class="form-check">
      <input [formControl]="hotbits_use_WebCam" class="form-check-input" type="checkbox" id="hotbits_use_WebCam">
      <label class="form-check-label" for="hotbits_use_RPi">
        Use your WebCam as a TRNG source
      </label>
      <div class="form-text text-bg-danger p-3">The WebCam is the best source for genuine hotbits, fast and effective.</div>
    </div>

  </div>
</div>

<div class="card text-bg-primary p-3" style="margin-top: 1rem">
  <div class="card-body">
    <h5 class="card-title">Analysis</h5>
    <p class="card-text">Digital Radionics provides the fastest and effective analysis.</p>

    <div class="form-check">
      <input [formControl]="analysisAdvanced" class="form-check-input" type="checkbox" id="analysisAdvanced">
      <label class="form-check-label" for="analysisAdvanced">
        Advanced Analysis
      </label>
      <div class="form-text text-bg-danger p-3">Using more hotbits advanced analysis is able to deliver accurate energetic analysis. Use only if you have enough hotbits.</div>
    </div>

  </div>
</div>

<div class="card text-bg-success p-3" style="margin-top: 1rem">
  <div class="card-body">
    <h5 class="card-title">Broadcasting</h5>
    <p class="card-text">Your intention is reinforced by repetition and pattern generation.</p>

...

  </div>
</div>
